# Ключи и токены для запуска с докером, КЛЮЧИ БУДУТ АКТУАЛЬНЫХ ТОЛЬКО НЕСКОЛЬКО ДНЕЙ!
TOKEN_FILE = 'token.json'
TELEGRAM_TOKEN = 'Ваш токен телеграм'
SECRET_KEY = 's&h%ivw5cbtez@x(q27)g7@i$i0qmv&pl)8%t!$ob=i9zte*6('
TELEGRAM_CHAT_ID =  'чат айди'
SPREADSHEET_ID = 'айди таблицы'
ACCESS_LEVEL_READ = 'https://www.googleapis.com/auth/spreadsheets.readonly'
DJANGO_LOG_LEVEL = 'DEBUG'
DB_ENGINE='django.db.backends.postgresql'
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
DB_HOST=db
DB_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379